/.metadata/
/PRUEBA MQTT/.vscode
/PRUEBA MQTT/build
/PRUEBA MQTT/.devcontainer 

/Puerta_1/.vscode
/Puerta_1/build
/Puerta_1/.devcontainer 

/Proyecto_Final/.vscode
/Proyecto_Final/build
/Proyecto_Final/.devcontainer 


